# Harbor Registry
HARBOR_URL=harbor.local:30002
HARBOR_PROJECT=mlops
HARBOR_USER=admin
HARBOR_ADMIN_PASSWORD=Harbor12345

# Redis (for Airflow)
REDIS_NAMESPACE=databases-airflow
REDIS_RELEASE=redis-airflow
REDIS_CHART_VERSION=17.11.3
REDIS_TAG=7.2.4

REDIS_PORT=6379
REDIS_PASSWORD=redis123
